<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/styletest.css">
    <title>Document</title>
</head>

<body>
    <section id="notFound">
        <div class="content">
            <div class="northstar"></div>
            <div class="content__error">
                <div class="content__error-block1">
                    <p>4</p>
                </div>
                <div class="content__error-block2">
                    <div class="circle"></div>
                </div>
                <div class="content__error-block3">
                    <p>4</p>
                </div>
            </div>
            <div class="content__caption">
                <P class="caption">What on plant you are doing here !? </P>
                <p class="subcaption">Well, this is awkward the page you are trying to view doesn't exist.</p>
    </section>
    <div class="navigation"><%-include('./partials/navigation')%></div>
</body>


</html>