* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fbfdfc;
}
#intro {
  /* background: url(/plant1.svg)no-repeat; */
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 10px;
}
.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  /* top: 80%; */
  background-color: #fbfdfc;
}
h1 {
  font-size: 1.5em;
  width: 70%;
  font-weight: 700;
  background-color: #fbfdfc;
  letter-spacing: 1px;
}
.mint {
  width: 200px;
  text-decoration: none;
  background-color: #53ba89;
  color: #fff;
  letter-spacing: 1px;
  padding: 20px 20px;
  margin: 5px auto;
  border-radius: 40px;
}
nav {
  background: #53ba89;
  color: #ffffff;
  /* padding: 10px 20px 10px; */
  /* height: calc(10vh - 20px); */
  justify-content: baseline;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4em;
}
ul {
  display: flex;
  margin: 0;
  list-style: none;
  height: 100%;
}
img {
  justify-content: baseline;
}
/* li {
  margin-right: 40px;
} */

.headerflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  font-size: 25px;
  padding-top: 5%;
}

.headerflex img {
  width: 50px;
}
.boxshadows {
  border: 1px solid black;
  box-shadow: inset;
  width: 90%;
  display: block;
  margin: 6% auto;
  box-shadow: 10px 5px 5px lightgreen;
  border-radius: 40px;
  text-align: center;
  height: 55px;
}

.boxshadows h3 {
  color: black;
}

.boxshadows p {
  color: gray;
}
.homeRoom {
  text-decoration: none;
}
.navigation {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  z-index: 6;
}

nav {
  background: #53ba89;
  color: #ffffff;

  /* justify-content: baseline;*/
  display: flex;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4em;
  /*  */
  display: inline-block;
}
ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  /* try out */
  width: 100vw;
}
nav img {
  width: 40px;
  height: 40px;
  padding-bottom: 33%;
}
nav img:hover {
  width: 50px;
  height: 50px;
  padding-bottom: 33%;
}

/*new Add Room Form*/

#newRoomForm {
  display: none;
  text-align: center;
  border: 1px solid black;
  width: 75vw;
  margin: 0 auto;
  padding-top: 10%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #ffffff;
  height: 45vh;
}

#newRoomForm input:first-of-type {
  width: 30vh;
  height: 40px;
  border-radius: 10px;
  background: #eff0f6;
  color: #a0a3bd;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
#newRoomForm input:last-of-type {
  width: 20vh;
  height: 40px;
  border-radius: 40px;
  border: 1px solid white;
  background: #00ba88;
  color: white;
  margin-bottom: 5%;
}

.NewRoomFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NewRoomFlex h1 {
  margin-right: 5%;
}
.buttonRoom {
  background: white;
  border: 1px solid white;
  border-radius: 40px;
  margin: auto;
  display: block;
}
button:focus {
  outline: 0;
}
.buttonRoom img {
  width: 50px;
}
#new p {
  font-size: 1rem;
}

@media screen and (min-width: 750px) {
  .plantCard img {
    width: 240px;
    height: 240px;
  }
  .plantCard p {
    text-align: left;
    font-size: 35px;
  }
  .watered {
    width: 240px;
    height: 240px;
  }
}
