<nav>
    <ul>
        <li><a href="/house"> <img src="/plant.svg" alt=""></a></li>
        <li><a href="/myHome"> <img src="/house.svg" alt=""></a></li>
        <li><a href="/profile/"> <img src="/user.svg" alt=""></a></li>

    </ul>
</nav>